/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  /* max-inline-size: var(--page-width); */
  /* min-inline-size: 320px; */
  /* min-block-size: 100dvb; */
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-main-text);
  margin: auto;
  background-image: repeating-linear-gradient(to top, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
                    repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
                    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* шапка */

.header {
  block-size: var(--height-header);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--header-margin) 0;
  font-family: var(--font-Press-Start-2P), sans-serif;
  font-variation-settings: normal;
  /*block-size: 368px;*/
}

.common_blocks {
  inline-size: var(--width-header);
  background-color: var(--color-background-common-blocks);
  border: 2px solid black;
}

.main_title {
  font-size: var(--size-main-title);
  line-height: 65px;
  padding-bottom: var(--padding-bottom-main-title);
  /*font-weight: normal;
  font-variation-settings: 'wght' normal;*/
}

.title_caption {
  font-size: var(--size-title-caption);
  line-height: 23px;
  text-transform: uppercase;
}

/* посты */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.post {
  background-color: var(--color-background-common-blocks);
}

.title_post {
  font-size: var(--size-title-post);
  margin: 5px 8px;
}

.gallery__item {
  position: relative;
  /* min-inline-size: 696px;
  min-block-size: 696px; */
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
  margin: 0;
}

@supports selector(:has(button:focus-visible)) {
  .container:focus-within {
    background-color: #fff;
  }
}

.image_start {
  display: block;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  /* inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover; */
}

.image_2 {
  filter: saturate(15%);
}

.image_3 {
  filter: invert(30%) sepia(0.3);
}

.image_4 {
  filter: hue-rotate(-90deg);
}

.image_5 {
  filter: invert(0.2);
}

.image_6 {
  filter: sepia(80%);
}

.image_7 {
  filter: blur(3px);
}

.image_8 {
  filter: contrast(50%);
}

.image_label {
  position: absolute;
  z-index: 1;
  height: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  /*text-shadow: 0px 0px 0 var(--color-text-shadow-label);*/
  font-family: var(--font-Press-Start-2P), sans-serif;
  font-variation-settings: normal;
  -webkit-text-stroke: 1px var(--color-text-shadow-label);
  font-size: 14px;
  top: var(--image-label-top);
  right: var(--image-label-right);
}

@supports (text-stroke: 1px var(--color-text-shadow-label)) {
  .image_label {
    text-stroke: 1px var(--color-text-shadow-label);
  }
} 

.post_caption {
  display: grid;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: normal;
  gap: 27px;
  padding: 25px;
}

.buttons_likes {
  justify-content: end;
  display: flex;
  /*gap: 7px;*/
  padding: 0 25px 25px 25px;
}

.general_button {
  background-color: var(--color-background-button);
  font-family: var(--font-Press-Start-2P), sans-serif;
  border: 2px solid var(--color-border-button-like);
  font-variation-settings: normal;
  font-size: 14px;
  line-height: 12.6px;
  height: 38px;
  position: relative;
  overflow: hidden;
  
}

.button__text {
  /* z-index: 1; */
  mix-blend-mode: difference;
  color: #fff;
}

.general_button:before {
  content: "";
  display: block;
  height: 100%;
  background-color: #000;
  
  width: 0;
  transition: 0.5s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
}

.general_button:hover:before {
  width: 100%;
  color: #fff;
}

.general_button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--color-button-focus);
}

.card__icon-button {
  border: none;
  /* width: 39px; */
  height: 38px;
  /*padding: 0;*/
  background-color: var(--color-background-button);
}



.like-icon:focus-visible {
  /* fill: rgba(0, 0, 0, 1); */
  /* stroke: #123456; */
}

.contour {
  fill: rgba(0, 0, 0, 1);
}

.core,
.main-body,
.sparks {
  fill: transparent;
}

.card__icon-button:focus {
  /* border: none; */
}

.card__icon-button:focus-visible {
  /* border: none; */
}

.like-icon:hover .core {
  fill: var(--color-heart-black);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-heart-black);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--color-heart-red);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--color-heart-red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-heart-red);
}

.like-icon.is-liked .main-body {
  fill: var(--color-heart-red);
}

.like-icon.is-liked .contour {
  fill: var(--color-heart-red);
}

.like-icon.heart {
  fill: var(--color-heart-red);
  transform: scale(1);
}

.like-icon.is-liked .heart {
  animation: big-heart 0.3s -0.1s ease-in;
}

.like-icon .sparks {
  fill: var(--color-heart-red);
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-heart 0.3s  ease-in;
}

.card__like-button {
  width: 130px;
  height: 38px;
  justify-items: center;
}


/* подвал */

.button_save {
  width: var(--width-button-save);
  height: var(--height-button-save);
  display: flex;
  margin-top: var(--button-save-margin-top);
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.button_save svg {
  inline-size: var(--button-save-inline-size);
  fill: currentColor;
  mix-blend-mode: difference;
}

.container_save svg {
  inline-size: 39px;
  fill: currentColor;
}

.save-dialog {
  padding: 30px;
  max-inline-size: 357px;
  max-block-size: 193px;
  font-family: var(--font-Press-Start-2P), sans-serif;
  font-variation-settings: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.container_save {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 26px 15px;
  align-items: center;
  justify-items: center;
}

.save_button_text {
  inline-size: 234px;
  block-size: 63px;
}

.save_button_close {
  grid-column: 1 / 3;
  inline-size: 293px;
  block-size: 38px;
  text-transform: uppercase;
}

.save-dialog[open]::backdrop {
  backdrop-filter: brightness(25%);
}

body:has(.save-dialog[open]) {
  overflow: hidden;
}